$red: #9c0d13;

$blue: #0e3c87;

$shadow:
  4px 4px 4px 0px rgba(3, 116, 76, 0.25),
  6px 6px 6px 0px rgba(3, 116, 76, 0.25) inset,
  -6px -6px 6px 0px rgba(0, 0, 0, 0.25) inset;

$box-shadow: 4px 4px 4px 0px rgba(3, 116, 76, 0.25);


$pink: #f27377;

$light-blue: #739ef2;

$blood-red: #eb1720;

$rem: 22;

//spacing
//desktop
$general-horizontal-margin: 1.36;
$inner-width: calc(62.72727rem + $general-horizontal-margin * 1rem);
$inner-min-width: calc(15.45rem + $general-horizontal-margin * 1rem);

//tablet
$tablet960-horizontal-margin: 0.73;



//functions
@function adaptive-shrink($start-width, $stop-width, $max-size, $min-size) {
  $page-diff: $start-width - $stop-width;
  $size-diff: $max-size - $min-size;

  $stop-width-rem: calc($stop-width / $rem * 1rem);
  $min-size-rem: $min-size * 1rem;

  $factor: calc((100vw - $stop-width-rem) / ($page-diff));
  $factor-rem: calc($factor * $rem);

  @return calc($min-size-rem + $size-diff * $factor-rem); //return type: rem
}

@function adaptive-font($start, $end, $max, $min) {
  $factor: calc((100vw - $end * 1px) / ($start - $end));
  @return calc($min * 1px + ($max - $min) * $factor); //return type: px
}
