.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba($color: #000000, $alpha: 0.5);
    .copyright__text {
        font-family: Nunito Sans;
        font-size: 16px;
        @media screen and (max-width: 960px) {
            font-size: 10px;
        }
        a {
            text-decoration: none;
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: inherit;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
