.footer {
    background-color: $lightblue;
    margin: 60px 30px 25px;
    padding-top: 1rem;
    position: relative;
    border-radius: 15px;

}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

h3 {
    font-family: NunitoSans;
    font-size: 1.09091rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.map__link:hover,
.contacts__link:hover,
.copyrigth__link:hover {
    text-decoration: underline;
}

.hamburger,
.menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.map__header {
    margin-bottom: 0
}

.map__list {
    margin: 0;
}
.map__link,
.contacts__link {
    color: black;
    font-family: NunitoSans;
    font-size: 0.90909rem;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;

    /* 1.81818rem */
}

.about-f {
    width: 33%;
    padding-left: 1.33rem;
}

.contacts {
    width: 33%;
    padding-left: 30px;
}

.contacts_header {
    margin-bottom: 15px
}


.contacts__list {
    padding-left: 40px;
}

.about-f__logo {
    width: 300px;
    height: 99px;
}

.about-f__text {
    font-family: Arsenal_Bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.about-f__button {
    display: inline-block;
    margin-left: 1.82rem;
    margin-bottom: 2.77rem;
}


.container-f {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.social {
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.social__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

.phone .mail .adress {
    position: relative;
}

.phone:before {
    content: url('../icons/footer_tel_icon.svg');
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;
    position: absolute;
}

.mail:before {
    content: url('../icons/footer_email_icon.svg');
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;
    position: absolute;
}


.address:before {
    content: url('../icons/footer_maps_icon.svg');
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;
    position: absolute;
}

.copyright {
    text-align: center;
}

.copyright__text::before {
    content: url(../icons/footer_c_icon.svg);
    display: inline-block;
    vertical-align: middle;
}

.copyrigth__link {
    color: black;
}


@media all and (max-width: 960px) {
    .about-f__logo {
        width: 9.09091rem;
        height: 3rem;
    }
}

@media all and (max-width: 840px) {
    .footer {
        margin: 0;
        position: relative;

    }

    .social {
        position: absolute;
        top: 0;
        left: calc(50% - 56px);
    }

    .map {
        display: none;
    }

    .about-f {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-f {
        display: block;
    }

    .about-f__logo {
        display: block
    }


    .about-f__text {
        color: #000;
        text-align: justify;
        font-family: Arsenal_Bold;
        font-size: 0.54545rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 0.76364rem */
        margin: 3.64rem 1.2rem;
    }

    .map__link,
    .contacts__link {
        font-family: NunitoSans;
        font-size: 0.72727rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 1.01818rem */
    }


    .contacts {
        width: 12rem;
        padding-left: 40px;
    }


    .hamburger__container {
        position: relative;
    }

    .hamburger {
        display: block;
        float: right;
        position: relative;
        z-index: 2;
        padding: 10px
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        padding-left: 10px
    }

    .map__list {
        padding-left: 0;
    }

    .copyright__text,
    .copyright__authors {
    font-size: 0.54545rem;
font-style: normal;
font-weight: 700;
line-height: 200%; /* 24px */
    }

    .copyright__link {
        font-size: 0.54545rem;
    }
}