header {
    background-color: $light-blue;
    margin-left: 1.36rem;
    margin-right: 1.36rem;
    margin-top: 1.14rem;
    border-radius: 0.68rem;
    display: flex;
    flex-direction: column;

    .header_top-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header_logo {
        display: flex;
        width: 13.63636rem;
        height: 4.5rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 3.41rem;
        margin-top: 1.36rem;
    }

    .header_menu {
        display: inline-flex;
        align-items: center;
        gap: 1.14rem;
        margin-top: 1.59rem;
        margin-right: 1.82rem;

        a {
            color: var(--unnamed, var(--unnamed, #000));
            font-family: Nunito Sans;
            font-size: 0.90909rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .header_content {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        gap: 2.32rem;

        .header_about-us {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.13636rem;
            margin-left: 4.82rem;
            max-width: 28.8rem;
        }

        .header_clipart {
            display: block;
            width: 22.72727rem;
            height: 31.31818rem;
        }
    

        .header_positional {
            position: absolute;
        }
    }
    
    h1 {
        color: var(--unnamed, var(--unnamed, #fff));
        font-family: Arsenal_Bold;
        font-size: 2.18182rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 2.83636rem */
        letter-spacing: 0.04364rem;
        margin: 0 0 0 0;
    }

    h2 {
        color: var(--unnamed, var(--unnamed, #fff));
        font-family: Arsenal;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.02rem;
        margin: 0 0 0 0;
    }

    p {
        color: var(--unnamed, var(--unnamed, #fff));
        text-align: justify;
        font-family: Arsenal;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 1.3rem */
        letter-spacing: 0.02rem;
        margin: 0 0 0 0;
    }
}
