.partners {
  box-sizing: border-box;
  margin: 3% auto;
  padding: 0.5rem;
  max-width: 59.1rem;
  display: grid;
  grid-template-columns: 60% 40%;

  @media (max-width: 960px) {
    max-width: 33.3rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 480px) {
    max-width: 19.36rem;
    padding: 0.1rem;
    margin: auto;
    // margin: 2rem 1rem;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
  }
}

.partners__main {
  grid-column: 1 / 2;
  @media (max-width: 960px) {
    display: grid;
    justify-items: center;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .partners__title {
    max-width: 100%;
    max-height: 100%;
    text-align: start;
    padding-left: 4%;
    @media (max-width: 960px) {
      text-align: center;
      font-size: 1.81rem;
      margin-bottom: 3%;
    }
    @media (max-width: 480px) {
      text-align: center;
      font-size: 1.75rem;
    }
  }
}

.partners__container {
  min-width: 100%;
  min-height: 80%;
  display: grid;
  // justify-items: center;
  align-items: center;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr;
  column-gap: 5%;
  row-gap: 5%;
  padding: 1rem;
  margin: auto;

  ul {
    margin-top: 0.41rem;
  }

  li {
    list-style: inside url(/assets/icons/check_mark.svg);
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.27273rem;
    line-height: 130%;
    letter-spacing: 0.05rem;
    padding: 0.1rem;
    white-space: nowrap;
    @media (max-width: 960px) {
      font-size: 1.18rem;
      padding: 0.2rem;
      white-space: normal;
    }
    @media (max-width: 480px) {
      font-size: 1.09rem;
      padding: 0.1rem;
    }
  }

  span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.27273rem;
    letter-spacing: 0.07rem;
    @media (max-width: 960px) {
      font-size: 1.18rem;
      padding: 0.5rem;
    }
    @media (max-width: 480px) {
      font-size: 1.09rem;
      padding: 0.4rem;
    }
  }
  @media (max-width: 960px) {
    column-gap: 1%;
    row-gap: 1%;
  }
}

.partners__item-list {
  max-width: 100%;
  display: grid;
  padding: 0%;
  align-self: flex-start;
}

.partners__item1_title {
  span {
    padding-bottom: 1%;
  }
}

.partners__aside {
  display: block;
  position:static;
  // max-width: 20rem;
  // max-height: 23rem;
  z-index: -1;

  max-width: 100%;
  max-height: 100%;
  @media (max-width: 960px) {
    position: static;
  }
}

@media (max-width: 780px) {
  .partners__container {
    display: flex;
    flex-direction: column;
  }
}
