// Начало блока Партнеры Елены

.partners {
  outline: 1px solid blue;
  margin: 3% auto;
  max-width: 56rem;
  display: grid;
  grid-template-columns: 60% 40%;

  @media (max-width: 960px) {
    max-width: 46rem;
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 480px) {
    max-width: 27rem;
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
  }
}

.partners__main {
  grid-column: 1 / 2;
  @media (max-width: 960px) {
    display: grid;
    justify-items: center;
  }
  .partners__title {
    max-width: 100%;
    max-height: 100%;
    text-align: start;
    padding-left: 4%;
    @media (max-width: 960px) {
      font-size: 1.81rem;
      margin-bottom: 3%;
    }
    @media (max-width: 480px) {
      text-align: center;
      font-size: 1.75rem;
    }
  }
}

.partners__container {
  min-width: 100%;
  min-height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr;
  column-gap: 5%;
  li {
    list-style: inside url(/assets/icons/check_mark.svg);
    font-family: "Arsenal_Bold";
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.27273rem;
    line-height: 130%;
    letter-spacing: 0.07rem;
    @media (max-width: 960px) {
      font-size: 1.18rem;
      padding: 1%;
    }
    @media (max-width: 480px) {
      padding: 0%;
    }
  }

  span {
    font-family: "Arsenal_Bold";
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.27273rem;
    letter-spacing: 0.07rem;
    @media (max-width: 960px) {
      font-size: 1.18rem;
      padding: 1%;
    }
  }
}

.partners__item1_list,
.partners__item2_list {
  min-width: 100%;
}

.partners__item1_title {
  span {
  padding-bottom: 1%;
}
}

.partners__item1_list {
  display: grid;
  padding: 0%;
}

.partners__aside {
  min-width: 40%;
  grid-column: 2 / 3;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  .partners__main {
    display: grid;
  }

  .partners__container {
    grid-template-rows: 15% 35% 15% 35%;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .partners__item1_logo {
    grid-row: 1 / 2;
  }

  .partners__item2_logo {
    grid-row: 3 / 4;
  }

  .partners__item1_list {
    grid-row: 2 / 3;
    justify-items: center;
    span {
      padding-left: 5%;
    }
  }

  .partners__item2_list {
    grid-row: 4 / 5;
    display: grid;
    justify-items: center;
  }
}
