.our_projects {
    max-width: 86rem;
    max-height: 80rem;
    margin: 2.2rem auto;

    border: 2px solid blue;
}

.our_projects__conteiner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 86rem;
    max-height: 80rem;

    @media screen and (max-width: 960px) {
        displa: flex;
        flex-directio: column-reverse;
        max-width: 40rem;
        max-height: 80rem;
    }

    border: 2px solid rgb(9, 255, 0);
}



.our_projects__Ñard1 {
    display: flex;
    flex-direction: column;
    max-width: 86rem;
    max-height: 35rem;
    left: 0;
    top: 97px;

    @media screen and (max-width: 480px) {
        padding: 0.9rem 0.9rem 0.5rem 0.9rem;
    }

    border: 2px solid rgb(208, 19, 88);
}

.our_projects__card2 {
    display: flex;
    flex-direction: column;
    max-width: 86rem;
    max-height: 29rem;
    left: 0;
    top: 830px;

    @media screen and (max-width: 480px) {
        padding: 0.9rem 0.9rem 0.5rem 0.9rem;
    }

    border: 2px solid rgb(197, 13, 77);
}

/* Responsive image gallery rules begin*/
ul {
    list-style: none;

}

.our_projects__image-gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin: auto;
}

.our_projects__image-gallery>li {
    flex-basis: 28rem;
    /*width: 450px;*/
    position: relative;
    cursor: pointer;
}

.our_projects__image-gallery::after {
    content: "";
    flex-basis: 28rem;
}

.our_projects__image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.our_projects__title_big {
    font-size: 2.2rem;
    line-height: 130%;
    text-align: center;
    white-space: nowrap;

    @media screen and (max-width: 960px) {
        align-self: center;
        font-size: 1.8rem;
        margin: 0.8rem 0;
    }

    @media screen and (max-width: 480px) {
        font-size: 1.7rem;
    }

    @media screen and (max-width: 430px) {
        font-size: 1rem;
        margin: 0;
    }
}

.our_projects__title {
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 130%;
    max-width: 45rem;
    text-align: center;
    align-self: center;
    white-space: nowrap;

    @media screen and (max-width: 960px) {
        font-size: 1.2rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }

    border: 2px solid rgb(255, 30, 0);
}

.our_projects__paragraph {
    align-self: center;
    text-align: justify;
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 130%;
    text-indent: 1.6rem;
    width: 95%;
    opacity: 0.8;
    margin: 0;
    padding: 0 0 0 1vw;


    @media screen and (max-width: 1200px) {
        font-size: 1rem;
    }

    @media screen and (max-width: 960px) {
        max-width: 28.6rem;
        align-self: center;
        font-size: 1rem;
    }

    @media screen and (max-width: 635px) {
        font-size: 1rem;
    }

    @media screen and (max-width: 480px) {
        max-width: 17.5rem;
        font-size: 0.8rem;
    }

    border: 2px solid rgb(0, 255, 208);
}


.our_projects__button {
    margin: auto;
    align-self: center;
}