.our_projects .our_projects__conteiner {
    max-width: 86rem;
    max-height: 96rem;
    margin: 2.2rem auto;
}

.our_projects__conteiner {
    box-sizing: border-box;

    @media screen and (max-width: 960px) {
        displa: flex;
        flex-direction: column;
        max-width: 58rem;
        max-height: 217rem;
        margin: 0.9rem auto 1.9rem;
    }

    @media screen and (max-width: 480px) {
        displa: flex;
        flex-direction: column;
        max-width: 30rem;
        max-height: 198.5rem;
        margin: 0.3rem auto 0.6rem;
    }

}

.our_projects__title_big {
    font-size: 2.2rem;
    line-height: 130%;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.06rem;
    text-transform: uppercase;

    @media screen and (max-width: 960px) {
        align-self: center;
        font-size: 1.8rem;
        margin: 1.6rem 0;
    }

    @media screen and (max-width: 480px) {
        align-self: center;
        font-size: 1.7rem;
        margin: 1.3rem 0;
    }
}

.our_projects__сard1 {
    display: flex;
    flex-direction: column;
    max-width: 86rem;
    max-height: 43rem;
    margin: 2.5rem auto;

    @media screen and (max-width: 960px) {
        flex: 50%;
        align-self: center;
        max-width: 55rem;
        max-height: 104rem;
        margin: 4vw 0 0 0;
    }

    @media screen and (max-width: 480px) {
        flex: 30%;
        align-self: center;
        max-width: 26rem;
        max-height: 99rem;
    }
}

.our_projects__card2 {
    display: flex;
    flex-direction: column;
    max-width: 86rem;
    max-height: 36rem;
    margin: 2.5rem auto;

    @media screen and (max-width: 760px) {
        flex: 50%;
        align-self: center;
        max-width: 55rem;
        max-height: 94rem;
        margin: 4vw 0 0 0;
    }

    @media screen and (max-width: 480px) {
        flex: 30%;
        align-self: center;
        max-width: 26rem;
        max-height: 83rem;
    }
}

/* Responsive image gallery */

.our_projects__image-gallery {
    display: flex;
    justify-content: stretch;
    padding: 1rem;
    flex-shrink: 0;
}

.our_projects__img_project {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0.2rem;
}

.our_projects__img_project img {
    vertical-align: middle;
}

@media screen and (min-width: 760px) and (max-width: 960px) {
    .our_projects__img_project {
        justify-content: center;
        flex: 90%;
        max-width: 90%;
    }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .our_projects__img_project {
        justify-content: center;
        flex: 100%;
        max-width: 100%;
    }
}

.our_projects__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.9rem auto 2.5rem;
}

.our_projects__title {
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    align-self: center;
    white-space: wrap;
    padding-bottom: 1rem;

    @media screen and (max-width: 960px) {
        text-align: center;
        display: flex;
        font-size: 1rem;
        flex-wrap: wrap;
        word-wrap: break-word;
    }

    @media screen and (max-width: 480px) {
        text-align: center;
        font-size: 1rem;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
}

.our_projects__paragraph {
    align-self: center;
    text-align: justify;
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 130%;
    text-indent: 1.1rem;
    width: 95%;
    opacity: 0.8;
    margin: 0;

    @media screen and (max-width: 960px) {
        max-width: 40rem;
        text-align: justify;
        font-size: 0.8rem;
        flex-wrap: wrap;
        word-wrap: break-word;
    }

    @media screen and (max-width: 480px) {
        text-align: justify;
        max-width: 19rem;
        font-size: 0.7rem;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
}

.our_projects__button {
    width: 21.9rem;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto 1.6rem;

    @media screen and (max-width: 960px) {
        margin: 2.5rem auto 2.5rem;
    }

    @media screen and (max-width: 480px) {
        margin: 2.5rem auto 1.8rem;
    }
}