.news {  
    display: grid;
    grid-template-columns: 58% 42%;
    border: solid #739EF2 1px;
    border-radius: 15px;
    max-height: 52.5625rem;
    max-width: 86rem;
    margin-left: auto;
    margin-right: auto;
}
.news__conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2.5rem;
}
.news__block_blue {
    width: 38.25rem;
    height: 10rem;
    border-radius: 10px;
    background: rgba(115, 158, 242, 0.70);
}
.news__block_red {
    width: 38.25rem;
    height: 10rem;
    border-radius: 10px;
    background: rgba(242, 115, 119, 0.70);
}
.news_header {
    display: flex;
    flex-direction: row;
}
.news__icon {
    width: 2rem;
    height: 2rem;
    padding: 1vw 0.3vw 1vw 1vw;
}
.news__title_small {
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}
.news__paragraph_small {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 130%;
    text-indent:2rem;
    width: 530px;
    margin: 0;
}
.news__date {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}
.news__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.96px; 
}
.news__paragraph {
    font-family: "Arsenal_Bold", Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.12px;
    text-indent:2rem;
    max-width: 29.6875rem;
    max-height: 34rem;
    color: #000000B2;
}
.news__button {
    font-family: "Arsenal_Bold", Arial, sans-serif;
    border-radius: 10px;
    background: $red;
    box-shadow: $shadow;
    max-width: 8.7rem;
    font-weight: 700;
    line-height: 130%;
    color:#fff;
    padding: 0.9375rem 2.25rem;
}
.news__button:hover{
    background: $pink;
    color:#000;
}
.news__triangle {
    position: absolute;
    width: 17.8125rem;
    height: 17.8125rem;
}