.documentation {
  display: flex;
  align-items: center;
  flex-direction: column;

  $doc-side-margin: adaptive-shrink(
    1440,
    960,
    $general-horizontal-margin,
    $tablet960-horizontal-margin
  );
  margin-left: $doc-side-margin;
  margin-right: $doc-side-margin;
  @media screen and (min-width: 1440px) {
    //desktop
    margin-left: $general-horizontal-margin * 1rem;
    margin-right: $general-horizontal-margin * 1rem;
  }
  @media screen and (max-width: 960px) {
    //tablet
    margin-left: $tablet960-horizontal-margin * 1rem;
    margin-right: $tablet960-horizontal-margin * 1rem;
  }
  @media screen and (max-width: 767px) {
    //mobile
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.14rem;
  }
}

.documentation__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 62.73rem;
  min-width: 11.36rem;
  gap: 1.6rem;
  // padding: 2.5rem 1.14rem;
  padding-top: 2.5rem;
  padding-left: 1.14rem;
  padding-right: 1.14rem;
  @media screen and (max-width: 480px) {
    gap: 1rem;
  }
}

.documentation-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    gap: 1.36rem;
  }
  @media screen and (max-width: 480px) {
    gap: 1rem;
  }
}

.documentation__charter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.36rem;
  gap: 1.36rem;
  border-radius: 0.68rem;
  border: 2px solid $light-blue;
  @media screen and (max-width: 960px) {
    min-width: 95%;
  }
  @media screen and (max-width: 480px) {
    // min-width: auto;
    padding: 0.5rem;
  }
}

.documentation__report-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.36rem;
  gap: 1.36rem;
  border-radius: 0.68rem;
  border: 2px solid $pink;
  @media screen and (max-width: 960px) {
    min-width: 95%;
  }
  @media screen and (max-width: 480px) {
    padding: 0.5rem;
  }
}

.documentation__charter,
.documentation__report {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  @media screen and (max-width: 960px) {
    gap: 1rem;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.documentation-img {
  // min-width: auto;
  width: 100%;
  max-height: 13.64rem;
  border-radius: 1px;
  border: 1px solid lightgrey;
  object-fit: cover;
  object-position: center;
}
