.projects {
  display: flex;
  justify-content: center;

  $projects-side-margin: adaptive-shrink(
    1440,
    960,
    $general-horizontal-margin,
    $tablet960-horizontal-margin
  );
  margin-left: $projects-side-margin;
  margin-right: $projects-side-margin;

  @media screen and (min-width: 1440px) {
    margin-left: $general-horizontal-margin * 1rem;
    margin-right: $general-horizontal-margin * 1rem;
  }

  @media screen and (max-width: 960px) {
    margin-left: $tablet960-horizontal-margin * 1rem;
    margin-right: $tablet960-horizontal-margin * 1rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 1.41rem;
    margin-right: 1.41rem;
  }
}

.projects__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin-top: 1.59rem;
  margin-bottom: 1.59rem;

  // padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.projects__—Åard {
  display: flex;
  flex-direction: column;
  // margin: 0.91rem auto;
  margin-top: 0.91rem;
  gap: 1rem;
  @media screen and (max-width: 960px) {
    gap: 0.7rem;
  }
}

.projects__gallery {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 1rem;
  @media screen and (max-width: 960px) {
    flex-direction: column;
    gap: 0.7rem;
  }
}

.projects-img {
  padding: 0.2rem;
  min-width: auto;
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    max-height: 100%;
  }
}

.projects__text {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  // padding: 1.9rem 0 2.5rem;
  .title-h3 {
    margin: 1rem 0;
  }
}

.projects__text-paragraph {
  text-indent: 1.5rem;
  text-align: justify;
  line-height: 1.5rem;
  opacity: 0.8;
  margin: auto;
}
