@font-face {
  font-family: "Arsenal_Bold";
  src: url(../fonts/Arsenal_Bold.woff2) format("woff2"),
    url(../fonts/Arsenal_Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Arsenal_Regular";
  src:
    url(../fonts/Arsenal_Regular.woff2) format("woff2"),
    url(../fonts/Arsenal_Regular.woff) format("woff");
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
