@font-face {
  font-family: "Arsenal_Bold";
  src: url(../fonts/Arsenal_Bold.woff2) format("woff2"),
    url(../fonts/Arsenal_Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/NunitoSans_Regular.woff2) format("woff2"),
    url(../fonts/NunitoSans_Regular.woff) format("woff");
  font-weight: 700;
}