*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Arsenal_bold", Arial, sans-serif;
  // font-size: 22px;
}

a {
  text-decoration: none;
}

// Стили для всех заголовков кроме header
.title-h2 {
  font-family: "Arsenal_Bold", Arial, sans-serif;
  font-size: 2.18rem;
  line-height: 2.84rem;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin: 0;
}

// Стили кнопок красной и синей

.button-red {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15.9rem;
  max-width: 15.9rem;
  padding: 1rem;
  border-radius: 0.45rem;
  color: white;
  background: $red;
  font-family: "NunitoSans", Arial, sans-serif;
  line-height: normal;
  letter-spacing: 4px;
  box-shadow: $shadow;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.button-red:hover {
  background: $pink;
  color: black;
}

.button-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15.9rem;
  max-width: 15.9rem;
  padding: 1rem;
  border-radius: 0.45rem;
  color: white;
  background: $blue;
  font-family: "NunitoSans", Arial, sans-serif;
  line-height: normal;
  letter-spacing: 4px;
  box-shadow: $shadow;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.button-blue:hover {
  background: $light-blue;
  color: black;
}

//Конец стилей кнопок